# Essay

---

1. Sebutkan dan jelaskan apa saja yang memiliki faktor terhadap proses machine learning! Jelaskan selengkap mungkin, terutama bagaimana faktor-faktor tersebut mempengaruhi hasil evaluasi model.

**Jawaban:**
Salah satu faktor yang mempengaruhi adalah kelengkapan data kita. Apakah dataset kita memiliki banyak nilai null (NaN). Semakin banyak nilai NaN maka modelling kita tidak akan optimal dan evaluasinya buruk. Pemilihan algoritma yang cocok juga berpengaruh untuk processing dataset kita, karna ada beberapa algoritma yang cocok untuk suatu dataset dan ada yang tidak cocok untuk diaplikasikan. Hyperparameter tuning juga sangat berpengaruh terhadap proses machine learning, karna dengan melakukannya kita bisa mendapatkan akurasi yang kita inginkan (tinggi).

2. Apakah algoritma yang sederhana pasti menghasilkan hasil evaluasi model yang buruk? Mengapa? Jelaskan!

**Jawaban:**
Belum tentu. Tidak semua algoritma yang sederhana menghasilkan hasil evaluasi model yang buruk. Semua tergantung ke dataset kita apakah cocok untuk diaplikasikan dengan algoritma yang sederhana tersebut atau tidak. Hyperparameter tuning juga sangat berpengaruh dalam hal ini.

3. Apakah perbedaan dari MAE dan R^2? Jelaskan selengkap mungkin!

**Jawaban:**
MAE (Mean Absolute Error) adalah rata-rata dari nilai absolut perbedaan antara hasil prediksi dengan data original, sedangkan R^2 adalah koefisien yang menunjukkan seberapa fit model yang kita prediksi dibandingkan dengan data original kita.

4. Apakah suatu metric bisa kita bandingkan dengan metric lainnya walaupun dengan satuan/cara perhitungan yang berbeda? Mengapa? Jelaskan selengkap mungkin! 

  Gunakan contoh: MAE dan RMSE, apakah mereka dapat dibandingkan secara selaras?

**Jawaban:**
Tidak semua metric bisa kita bandingkan dengan selaras. Untuk MAE dan RMSE jelas berbeda. Pada RMSE, nilai error di kuadratkan sebelum dicari meannya, sedankan MAE dicari nilai absolut dari errornya. Tetapi ada kasus dimana MAE dan RMSE selaras, contohnya dalam suatu dataset yang errornya terdistribusi secara merata. Jika error tidak terdistribusi merata, maka nilai RMSE akan semakin tinggi, sedangkan nilai MAE nya masih konstan.

5. Jelaskan bagaimana suatu problem time series dapat diubah menjadi problem regresi. Berikan suatu contoh dataset beserta contoh data apa saja yang perlu dicatat untuk dapat menjadi suatu problem regresi! Jelaskan selengkap mungkin.

**Jawaban:**
Problem time series dapat diubah menjadi problem regresi apabila dataset time series tersebut tidak memiliki single attribute (univariate). Contoh untuk dataset daily-min-temperatures, kita dapat menambahkan attribute kecepatan angin, kelembapan udara, musim, serta tekanan udara. Artinya, attribute-attribute tersebut ada hubungannya.

# Python

---

1. Buatlah sederet angka dari 1 hingga 9 menggunakan function range(), dan tentukan berapa banyak bilangan genap dan ganjil dari deret tersebut!
  
  Output:
  
    Jumlah angka genap : 5

    Jumlah angka ganjil : 4

In [ ]:
numbers = []
even_count = 0
odd_count = 0

for num in range(1, 10):
  numbers.append(num)
  if num % 2 == 0: 
    even_count += 1
  else: 
    odd_count += 1

print("Jumlah angka genap: ", even_count) 
print("Jumlah anka ganjil: ", odd_count)

2. Buatlah sederet angka dari 1 - 10 yang dapat habis dibagi dengan 3 menggunakan loop!

  Output:
    3, 6, 9

In [ ]:
numbers = []
for num in range(1,10):  
  numbers.append(num)
  if num % 3 == 0: 
    print(num, end = " ")

3. Buatlah pattern berikut menggunakan function print() dan loop!

    Output:

    A

    A A A 
    
    A A A A 
    
    A A A A A

In [ ]:
baris = 4

for i in range(0, baris):
    for j in range(0, i + 1):
        print("A", end=' ')

    print("\r")

4. Buatlah sebuah function yang menerima parameter suatu angka (gunakan angka 2345) lalu melakukan return deret angka yang sama secara terbalik! (5432)

In [ ]:
def inverse(number):
  return int(str(number)[::-1])

inverse(2345)

5. Buatlah pattern berikut menggunakan function print() dan loop!

  Output:
  
  1 

  1 2 

  1 2 3 

  1 2 3 4 

  1 2 3 4 5

In [ ]:
baris = 5
for i in range(1, baris+1):
    for kolom in range(1, i + 1):
        print(kolom, end=' ')
    print("")

6. Gabungkan dua list berikut menjadi satu list gabungan:

    [1, 2, 3, 4, 5]
    [6, 7, 8, 9, 10]

    Output:

    [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
list1 = [1, 2, 3, 4, 5]
list2 = [6, 7, 8, 9, 10]

#Join List
list3 = list1 + list2
print(list3)

7. Gabungkan list yang sama dengan cara selang seling:

  Output:
  [1, 6, 2, 7, 3, 8, 4, 9, 5, 10]

In [ ]:
list1 = [1, 2, 3, 4, 5]
list2 = [6, 7, 8, 9, 10]
   
list(zip(list1, list2))

# Machine Learning

---

## 1. Classification

  Gunakan dataset **horse-colic**, dan hitung accuracy, F1, precision, dan recall dari minimal **3 algoritma**!

  Silahkan merujuk ke file **.names** untuk melihat attributenya! Dipersilahkan untuk memproses nama feature menggunakan pandas atau mengubah langsung file .csv nya (ditambahkan header/judul per kolomnya)

  **Jelaskan segala hal yang dilakukan** (preprocessing, hyperparameter tuning, dll) dengan sejelas mungkin!

## 2. Regression

Gunakan dataset **abalone**, dan hitung R^2, Mean Absolute Error, serta Root Mean Squared Error dari minimal 3 algoritma!

Silahkan merujuk ke file **.names** untuk melihat attributenya! Dipersilahkan untuk memproses nama feature menggunakan pandas atau mengubah langsung file .csv nya (ditambahkan header/judul per kolomnya)

**Jelaskan segala hal yang dilakukan** (preprocessing, hyperparameter tuning, dll) dengan sejelas mungkin!